/* Ex.11: Give a maximum width to the body and center it in the page */
body {
    max-width: 80%;
}
/* Ex.12: Set every h1 to be centered */
h1 {
    text-align: center;
}
/* Ex.13: Change the color of each link in the page */
a {
    color: rgb(206, 240, 220)
}
/* Ex.14: Create a class with a border */
.links {
    border-top: 1px solid
}
/* Ex.15: Set table to have rounded corners */
table {
    border-radius: 10px;
}
/* Ex.16: Add margin between every paragraph */
p {
    margin: 30px 0;
}
/* Ex.17: Create a class which change font size and boldness */
.fontAndBOldness {
    font-size: 2em;
    font-weight: bolder;
}
/* Ex.18: Create a class to hide a content */
.hide {
    visibility: hidden;
}
/* Ex.19: Add a green border to each td */
/* Ex.20: Add a dotted red border to each tr (note: tr does not accept a border property ;-)  */
td {
    border: solid green;
    border-bottom: dotted red;
}

